body {
  text-align: justify;
}

img {
  border: 3px solid gray;
  margin-bottom: 10px;
}

h1, h2, h3 {
  padding: 10px;
  background: #f8f8f8;
  color: #444;
}

.chaves {
  float: right;
}

h4, strong, .autor {
  font-size: 1.2em;
}

.autor {
  margin-top: 0;
  background: #f8f8f8;
  padding-left: 10px;
}

.thumbnail p {
  font-size: 1em;
  text-align: center;
}

.entrevista-pergunta {
  color: #C4040A;
}

.proxima-secao {
  margin: 25px 0;
  text-align: center;
}
