body {
  font-family: 'Roboto', sans-serif;
}

.paragraphThumbnail {
  padding-top: 10px;
  text-align: center;
}

.jumbotron {
  text-align: justify;
}

.branding {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 25%;
}
